:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
[data-theme="dark"] {
  --primary-color: #5faee3;
  --secondary-color: #1a2530;
  --accent-color: #ff6b6b;
  --text-color: #e9ecef !important;
  --bg-color: #121212 !important;
  --card-bg: #1e1e1e;
  --border-color: #444;
  --header-bg: #1a1a1a;
  --footer-bg: #1a1a1a;
  --footer-text: #e9ecef;
  --hero-bg: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  --wave-color: rgba(0, 0, 0, 0.2);

}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
   background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

body {
  color: var(--foreground);
  background: var(--background);
 font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.nextjs-toast{

  display: none !important;
}
[data-nextjs-toast] {
  display: none !important;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.nextjs-toast{

  display: none !important;
}